<ion-content fullscreen>

  <ion-menu-button class="left-toolbar-button"></ion-menu-button>
  <!-- <div class="right-toolbar-button">
    <ion-icon slot="icon-only" name="filing"></ion-icon>
  </div> -->

  <div *ngIf="showAccountDetails" @fadein style="margin-top: 56px">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Account Details</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="userProfile === null">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <div style="width: 100%; height: 100%;">
                  <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>

        <div *ngIf="userProfile !== null">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                <div style="width: 100%; height: 100%;">
                  <ion-avatar class="profile-picture">
                    <ion-img [src]="userProfile.profileImage">
                    </ion-img>
                    <ion-icon (click)="selectImageSource()" color="success" class="camera-button" name="camera">
                    </ion-icon>
                  </ion-avatar>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div *ngIf="!editingName" @fadein>
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>{{ userProfile.name }}</ion-label>
              <ion-icon slot="end" name="create" (click)="editingName = !editingName"></ion-icon>
            </ion-item>
          </div>

          <form [formGroup]="userInfoFormGroup" class="form">
            <div *ngIf="editingName" @fadein>
              <ion-item>
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-icon *ngIf="userInfoFormGroup.valid && userInfoFormGroup.dirty" slot="end" name="checkmark"
                  (click)="updateUserDisplayName()"></ion-icon>
                <ion-icon slot="end" name="close" (click)="editingName = !editingName"></ion-icon>
                <ion-input placeholder="Enter Full Name" formControlName="name" type="text" text-capitalize></ion-input>
              </ion-item>

              <div *ngFor="let validation of validationMessages.name" class="validation-errors">
                <ion-item class="error-message" *ngIf="isError('name', validation.type)">
                  <ion-icon name="alert"></ion-icon>
                  <ion-label>{{ validation.message }}</ion-label>
                </ion-item>
              </div>
            </div>
          </form>

          <ion-item *ngIf="userProfile.email">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>{{ userProfile.email }}</ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Security</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <div *ngIf="userProfile === null">
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>

        <div *ngIf="userProfile !== null">
          <div>
            <ion-item *ngIf="!userProfile.pin" (click)="confirmPinAction(500)">
              <ion-icon style="color: white" slot="start" name="apps"></ion-icon>
              <ion-label>Set PIN</ion-label>
            </ion-item>
            <ion-item *ngIf="userProfile.pin" (click)="confirmPinAction(501, userProfile.pin)">
              <ion-icon style="color: white" slot="start" name="apps"></ion-icon>
              <ion-label>Change PIN</ion-label>
            </ion-item>
            <ion-item *ngIf="userProfile.pin" (click)="confirmPinAction(503, userProfile.pin)">
              <ion-icon style="color:red" slot="start" name="apps"></ion-icon>
              <ion-label>Remove PIN</ion-label>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- <ion-button *ngIf="userProfile !== null" (click)="confirmLogOut()" class="expand-button"
      style="padding: 0px 8px 0px 8px" color="danger"> Log Out
    </ion-button> -->
    <div class="button-danger" (click)="confirmLogOut()" *ngIf="userProfile !== null">
      <ion-label text-uppercase>
        Log Out
      </ion-label>
    </div>
  </div>
</ion-content>