<ion-content fullscreen>

  <ion-back-button class="left-toolbar-button"></ion-back-button>

  <ion-card *ngIf="showFAQs" @fadein>
    <ion-card-content>
      <section class="questions-section">
        <h1><b>F</b>requently <b>A</b>sked <b>Q</b>uestion<b>s</b></h1>

        <h2>I want to add new task in Mr.Todos.</h2>
        <p>Users can avail "+" icon available at the top-right corner of home page.</p>

        <h2>I want to create a repeatative task.</h2>
        <p>Team Mr.Todos appreciates people who follow their routine properly. Users can click on "refresh" icon
          available
          next to the task name. Upon confirmation, This will complete the current task and re-creates similar task.
        </p>

        <h2>I have too many tasks logged in the Mr.Todos. How can I get to the specific tasks quickly.</h2>
        <p>Team Mr.Todos is always there to help busy users save their time. Users can search the task bu it's title
          using the searchbar provided in the homepage.</p>

        <h2>I want to prioritize my tasks.</h2>
        <p>Users can choose the priority while adding or editing the task. In Home page, High, Medium and Low priority
          tasks
          will be indicated with red, orange and blue colors respectively. </p>

        <h2>I made a mistake while adding a task. Do I have to create a new task now?</h2>
        <p>No need. User has the option to edit the existing task which is available at the top-right corner of the
          task-details page. </p>

        <h2>I have finished my task.</h2>
        <p>By clicking on "check" icon present in the task entry, Users can mark their tasks as complete.</p>

        <h2>I want to delete a Task permanently.</h2>
        <p>Users can delete their tasks by clicking on "trash" icon present in the task entry on the home page.</p>

        <h2>I am facing an issue which is not listed here.</h2>
        <p>Please use "Contact us" section in "Settings" page to write to us. Please be detailed and specific in your
          query. The team Mr.Todos will get in touch with you regarding the issue once we receive the issue. </p>

        <h2>The Mr.Todos app is awesome. I want to know/meet/greet the developer to show the gratitude.</h2>
        <p>Please don't forget to rate Mr.Todos app which you like so much. You can go to the "About developer"
          section of "Settings" page to know about the Developer. And You can greet
          Or meet the developer on the social platforms, links for which are provided.</p>

        <h2>I want to donate some money to the developer. I want more apps like this from the developer</h2>
        <p>No help is small. You can donate appropriate amount using google pay id <b>{{ googlePayId }}</b>
          <ion-icon (click)="copyToClipboard()" style="color:rgb(23, 26, 199); font-size: 1.5em" name="clipboard">
          </ion-icon>
        </p>

      </section>
    </ion-card-content>
  </ion-card>

</ion-content>