<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-img
      src='https://scontent.fbom19-1.fna.fbcdn.net/v/t1.0-9/13412880_1144444512243242_4366767483771827322_n.jpg?_nc_cat=108&_nc_oc=AQmCok0zRuVS7EOHizw7zw-xMTplFuXfKTROTWcrBVin0ebUwmftb57ljhtG4EQRXmQ&_nc_ht=scontent.fbom19-1.fna&oh=cf0c3a32456ba0d3ef061d7a1885c684&oe=5E154793'>
    </ion-img>
    <ion-card-content>
      <section class="introduction-section">
        <h1>Hi folks, I'm OMKAR</h1>
      </section>
      <section class="introduction-section">
        <h1>Introduction</h1>
        <p>I am a Full stack developer with Java-Angular technologies and soon to be a successful Ionic Developer.</p>
        <p>I love the internet, technology, building things and most importantly people.</p>
      </section>
      <section class="location-section">
        <h1>Where I'm From</h1>
        <p>I'm originally from Thane, Maharashtra, India. </p>
      </section>
      <section class="questions-section">
        <h1>More About Me</h1>

        <h2>What are your favorite hobbies?</h2>
        <p>My favorite hobby is building mobile applications. I like to keep on building things and make them available
          to people for free. The code for all of my applications is publicly available.</p>
        <p>I am a movie/web-series buff and a big fan of Anime & K-dramas. I love reading Manga in my free time. Workout
          is my stress buster and Sketching calms my nerves</p>

        <h2>What's your dream job?</h2>
        <p>I don't work in my dreams :P</p>

        <h2>Why do you want to be a Ionic developer?</h2>
        <p>Because programming is awesome and programming for the mobile platforms is even more awesome.</p>

        <h2>How do I contribute to Todos for development?</h2>
        <p>You can goto <a href="https://github.com/omkarnagare/Todos" target="_blank">Github repository page</a> for
          Todos. You can find the whole source code for Todos there. Fork it and enjoy.</p>

      </section>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="social-icon-container">
      <section class="questions-section">
        <h2> Say Hi to me on Social Networks </h2>
      </section>
      <a href="https://www.linkedin.com/in/omkar-nagare-aa8ba266/" target="_blank">
        <ion-icon style="color:#0e76a8" name="logo-linkedin"></ion-icon>
      </a>
      <a href="https://github.com/omkarnagare" target="_blank">
        <ion-icon style="color:black" name="logo-github"></ion-icon>
      </a>
      <a href="https://www.facebook.com/omkar.nagare" target="_blank">
        <ion-icon style="color:#3b5998" name="logo-facebook"></ion-icon>
      </a>
      <a href="https://twitter.com/omkarbnagare" target="_blank">
        <ion-icon style="color:#1da1f2" name="logo-twitter"></ion-icon>
      </a>
      <a href="https://www.instagram.com/omkar_nagare" target="_blank">
        <ion-icon style="color:#8a3ab9" name="logo-instagram"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>

</ion-content>