// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fonts **/
/** Montserrat **/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat/Montserrat-RegularItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}
/** Fonts **/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** font text **/
	--ion-font-family: 'Montserrat';

  /* Mr.Todos CSS */
  .left-toolbar-button {
    display: inline;
    position: fixed; 
    top: 0%; 
    left:0%; 
    z-index: 5;
  }
  .right-toolbar-button {
    display: inline;
    position: fixed; 
    top: 1.5%; 
    right: 2.5%; 
    z-index: 5;
    ion-icon {
      font-size: 24px;
    }
  }
  ion-thumbnail {
    --border-radius: 8px;
  }
  ion-menu-button {
    color: white;
  }
  ion-skeleton-text {
    --background-rgb: 255,255,255;
  }
  ion-title {
    text-align: center;
  }
  ion-content {
    // --background: url(../assets/images/dark-background.jpg) 0 0/100% 100% no-repeat;
    --background: url(../assets/images/background.jpg) repeat-x fixed center;
  }
  ion-list {
    background: transparent;
    ion-list-header {
      --color: white;
    }
  }
  ion-item {
    --background: transparent;
    --color: white;
    --color-hover: slategray;
    --background-focused: slategray;
  }
  .button-danger {
    text-align: center; 
    padding: 8px 0px 8px 0px; 
    margin: 8px; 
    border-radius: 8px;
    border: 4px solid var(--ion-color-danger); 
  }
  .button-success {
    text-align: center; 
    padding: 8px 0px 8px 0px; 
    margin: 8px; 
    border-radius: 8px;
    border: 4px solid var(--ion-color-success); 
  }
  .button-normal {
    text-align: center; 
    padding: 8px 0px 8px 0px; 
    margin: 8px; 
    border-radius: 8px;
    border: 4px solid var(--ion-color-primary); 
  }
  .form {
    * > ion-item {
      --border-color: slategray;
    }
  }
  .error-message {
    --border-color: none;
  }
  a[href] {
    cursor: pointer;
  }
  ion-action-sheet {
    --background: slategray;
  }
  // ion-menu {
  //   ion-content {
  //     --background: url(../assets/images/menu-background.jpg) 0 0/100% 100% no-repeat !important;
  //   }
  // }
  // .pin-unlock {
  //   --background: url(../assets/images/pin-background.jpg) 0 0/100% 100% no-repeat !important;
  // }
  .item-shadow {
    -webkit-box-shadow: 0 3px 1px -2px rgba(255,255,255,.2), 0 2px 2px 0 rgba(255,255,255,.14), 0 1px 5px 0 rgba(255,255,255,.12);
    box-shadow: 0 3px 1px -2px rgba(255,255,255,.2), 0 2px 2px 0 rgba(255,255,255,.14), 0 1px 5px 0 rgba(255,255,255,.12);
  }
  ion-label {
    background: transparent;
    color: white;
  }
  .input-label {
		font-size: 12px;
		margin: 0px 0px 0px 16px;
  }
  .input-item {
    border: 4px solid var(--ion-color-primary);
    border-radius: 8px;
    --border-color: transparent !important;
  }
  .todo-item {
    margin: 8px;
    text-align: center;
    border: 2px solid var(--ion-color-primary);
    border-radius: 8px;
  }
  .high {
      border: 2px solid red !important;
      .left {
        border-left: 2px solid red !important;
      }
      .right{
        border-right: 2px solid red !important;
      }
  }
  .medium {
      border: 2px solid orange !important;
      .left {
        border-left: 2px solid orange !important;
      }
      .right{
        border-right: 2px solid orange !important;
      }
  }
  .low {
    border: 2px solid  var(--ion-color-primary) !important;
      .left {
        border-left: 2px solid  var(--ion-color-primary) !important;
      }
      .right{
        border-right: 2px solid  var(--ion-color-primary) !important;
      }
  }
  ion-icon {
    color: white;
  }
  ion-card-header {
    ion-card-title {
      color: white;
    }
    ion-card-subtitle {
      color: white;
    }
  }
  ion-card-content {
    color: white;
  }
  ion-card {
    border-radius: 12px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(255,255,255,.2), 0 2px 2px 0 rgba(255,255,255,.14), 0 1px 5px 0 rgba(255,255,255,.12);
    box-shadow: 0 3px 1px -2px rgba(255,255,255,.2), 0 2px 2px 0 rgba(255,255,255,.14), 0 1px 5px 0 rgba(255,255,255,.12);
  }
  ion-segment-button {
		--border-radius: 8px;
		--border-width: 2px;
  }
  ion-searchbar {
		.searchbar-input-container {
			.searchbar-input {
				border-radius: 16px;
			}
		}
  }
  .card-center {
    ion-card-header {
      ion-card-title {
        text-align: center;
      }
    }
    ion-card-content {
      text-align: center;
    }
  }
  .social-icon-container {
		text-align: center;
		a>ion-icon {
			margin: 4px;
			font-size: 2.5em;
		}
  }
  .todos-toast {
		--border-radius: 16px;
  }
  .loading-wrapper {
		border-radius: 16px;
  }
  .alert-wrapper {
		border-radius: 16px;
		.alert-message {
			color: black;
		}
		.alert-button-group {
			button {
				color: black;
			}
		}
	}
  ion-button.expand-button {
		border-radius: 8px;
		border-right-width: 0px;
		border-left-width: 0px;
		margin-left: 0px;
		margin-right: 0px;
		display: block;
		width: 100%;
		contain: content;
  }
  .validation-errors>ion-item {
    --border-color: transparent;
		ion-label {
			white-space: initial;
			color: var(--ion-color-danger);
		}
		ion-icon {
			color: var(--ion-color-danger);
		}
	}
}
