<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu type="overlay">
      <ion-content>

        <div style="position: fixed; top: 2%; right: 4%; z-index: 5;" (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="close" style="font-size: 28px;"></ion-icon>
        </div>

        <ion-card class="card-center" no-padding no-margin style="border-radius: 0px;">
          <div style="position: relative">
            <ion-img class="item-shadow"
              [src]="userProfile !== null && userProfile.profileImage ? userProfile.profileImage : defaultImage">
            </ion-img>
            <ion-item style="position: absolute; bottom: 0%; z-index: 5; width: 100%" class="item-shadow"
              routerDirection="root" routerLink="/account-details" (click)="toggleMenu()">
              <ion-label style="white-space: initial; text-align: center;" text-capitalize>
                {{ userProfile !== null ? ("Welcome " + userProfile.name) : "Welcome to Mr. Todos" }}</ion-label>
              <ion-icon name="arrow-dropright" slot="end"></ion-icon>
            </ion-item>
          </div>
          <ion-card-content no-padding no-margin>
            <ion-list>
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.href]" lines="none">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>