<ion-header translucent>
  <ion-toolbar color="primary" [scrollVanish]="body">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mr.Todos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #body scrollEvents="true">
  <div *ngFor="let i of [1,2,3,4,5,6,1,2,3,4,5,6]">
    <ion-button (click)="showLocalNotification()" class="expand-button" color="secondary"> Show Local Notification
    </ion-button>
    <ion-button (click)="showLocalNotification()" class="expand-button" color="secondary"> Show Local Notification
      </ion-button>
  </div>
</ion-content>