.theme-circles {
    height: 48px;
    width: 48px;
    box-shadow: 2px 2px;
    border-radius: 4px;
    // border-radius: 50%; // to make it circle
    display: inline-block;
    margin: 8px;
}

.themes-container {
    text-align: center;
}

.preview-theme > ion-item > ion-label {
    text-align: center;
}