<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Themes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pick a Theme by clicking on one of the Theme-box below : </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="themes-container">
      <span class="theme-circles" [style.background-color]="theme.color" *ngFor="let theme of themes"
        (click)="setTheme(theme.name)">
      </span>
    </ion-card-content>
  </ion-card>

  <ion-list class="preview-theme">
    <ion-list-header>
      Theme Colors (Read Only)
    </ion-list-header>
    <ion-item color="primary">
      <ion-label>Primary</ion-label>
    </ion-item>

    <ion-item color="secondary">
      <ion-label>Secondary</ion-label>
    </ion-item>

    <ion-item color="tertiary">
      <ion-label>Tertiary</ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-label>Dark</ion-label>
    </ion-item>

    <ion-item color="medium">
      <ion-label>Medium</ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-label>Light</ion-label>
    </ion-item>

    <ion-item color="success">
      <ion-label>Success</ion-label>
    </ion-item>

    <ion-item color="warning">
      <ion-label>Warning</ion-label>
    </ion-item>

    <ion-item color="danger">
      <ion-label>Danger</ion-label>
    </ion-item>
  </ion-list>

</ion-content>